a {
  color: #000000;
}

ul {
  margin: 0;
  padding: 0;
}

.header {
  background-color: #fff;
  padding: 92px 49px 92px 51px;
  color: #000000;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.logo {
  margin-right: 147px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.menu {
  display: flex;
  list-style: none;
  gap: 10px;
}

.menu-item::before {
  content: "";
  width: 7px;
  height: 7px;
  display: inline-block;
  border-radius: 100%;
  border: 1px solid #000;
  margin-right: 12px;
}

.menu-item-active::before {
  content: none;
}

.text-decoration-none {
  text-decoration: none;
}

.menu-link {
  font-size: 18px;
  line-height: normal;
}

.adress {
  font-size: 18px;
  line-height: 24.3px;
  margin-top: 3px;
  margin-left: 5px;
  
}

.nav-link {
  text-decoration: none;
  border-bottom: 1px solid #000;
  
}

.title-fragment {
  font-size: 100px;
  font-style: normal;
  font-weight: 700;
  line-height: 115%; /* 115px */
  letter-spacing: 30px;
  text-transform: uppercase;
  display: block;
  text-align: center;
  margin-right: -35px;
}

.title {
  z-index: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  /* row-gap: 20px; */
  row-gap: 13px;
}

.banner {
  background-color: black;
  padding: 165px 47px 50px 50px;
  background-image: url("../images/cover.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  color: #fff;
}

.text--align-left {
  text-align: left;
  word-spacing: -22px;
}

.letter-o {
  margin-left: 30px;
}

.letter-e {
  margin-left: 36px;
  margin-right: 21px;
  
}

.letter-n {
  margin-right: 34px;
}

.text--align-right {
  text-align: right;
  letter-spacing: 30px;
  margin-top: -10px;
}

.text {
  margin-left: -40px;
  word-spacing: 20px;
}

.overlay {
  background-color: #000;
  opacity: 0.6;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 0;
}

.call-to-action {
  z-index: 1;
  position: relative;
  text-transform: uppercase;
  margin-top: 127px;
  display: flex;
  justify-content: flex-end;
  gap: 72px;
  font-size: 22px;
  align-items: center;
  line-height: 28px;

  
}

.button {
  box-shadow: none;
  background: none;
  font-size: 22px;
  outline: none;
  border: 1px solid #fff;
  color: #fff;
  padding: 12px 32px;
  text-transform: uppercase;
  
}

.auction {
  word-spacing: 17px;
  margin-right: 8px;
}

.content-center {
display: flex;
justify-content: center;
}

.lot {
  color: #fff;
  position: relative;
  height: 450px;
  width: 430px; 
  padding: 50px 40px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  
  
  
}

.lot-title,
.lot-description {
  z-index: 2;
  position: relative;
}

.lot .overlay {
  z-index: 1;
}

.lot-img {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.lot-title {
  font-size: 22px;

  font-weight: 700;
  line-height: 120%; /* 26.4px */
  text-decoration-line: underline;
  text-transform: uppercase;
}

.lot-description {
  font-size: 20px;
  font-weight: 400;
  line-height: 120%;
}

.container-lots {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  gap: 25px;
  margin-top: 27px;
  margin-left: 6px;
  flex-wrap: wrap;
}

.lots {
  padding-top: 180px;
}

.all-lots {
  padding-left: 48px;
  font-size: 40px;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.more-lots {
  margin-top: 30px;
  text-decoration: underline;
  padding-left: 45px;
  font-size: 20px;
  font-weight: 400;
}
.content-about-center {
display: flex;
justify-content: center;
}
.about {
  display: flex;
  flex-direction: column;
  margin-top: 182px;
  max-width: 1340px;
  height: 487px;
  margin-right: 50px;
  margin-left: 50px;
}

.title-about {
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  margin-left: 120px;
  margin-top: 100px;
}

.black-circle-new {
  display: flex;
}

.image-only {
  display: flex;
  max-width: 240px;
  margin-left: 95px;
}

.text-cont {
  display: flex;
  height: 240px;
  flex-direction: column;
  gap: 28px;
  margin-left: 453px;
  font-size: 20px;
  margin-top: 6px;
}

.footer {
  padding: 180px 10px 90px 50px;
  display: flex;
  justify-content: space-between;
}

.socials-img {
  
  width: 100px;
  height: 48px;
  margin-top: -2px;
  margin-left: -10px;
  margin-right: 5px;
}

.adress-footer {
  font-size: 18px;
  margin-top: 6px;
  
}

.nav-footer {
  font-size: 18px;
  display: flex;
  text-align: center;
  margin-left: 20px;
  margin-top: 2px;
}

.menu-item-footer {
  list-style-type: none;
}